<h1><%= @stop.name %></h1>
<h2>Line: <%= @stop.line.name %></h2>
<h2>Station: <%= @stop.station.name %></h2>

<p><%= link_to "Edit", edit_stop_path(@stop), :class => "btn btn-default" %></p>
<p><%= link_to "Delete", stop_path(@stop),
                        :data => {:confirm => "You sure?",
                        :method => "delete"},
                        :class => "btn btn-danger" %></p>

<p><%= link_to "Home", lines_path, :class => "btn btn-default" %></p>
